{% extends 'index.html' %}
{% load static %}
{% static "media" as baseUrl %}
{% block content %}
<div class="wrapper row0">
  <nav id="mainav" class="hoc clear">
    <ul class="clear">
      <li><a href="userlogin">Home</a></li>
             <li><a href="chori">Chori</a>
      </li>
      <li><a href="gate" >Gate</a>
      </li>
        <li><a href="tablechair">chair</a></li>
         </li>
      <li class="heading" style="align:center;"><center><a class="center"  class="active"><span style="color:#48EAFF;">paat</span></a></center></li>
      <li><a href="others">Table</a>
          </li>
    </ul>
  </nav>
</div>
<div class="wrapper bgded overlay light">
  <main class="hoc container clear">
    <div class="content">
      <div id="gallery">
        <figure>
          <div class="nospace clear" >
            {% for dest in dests %}
              {% if dest.p_dis == "in" %}
                            <div class = "dimag"  style="margin-left:20px;display: inline-block;"><a href="/chori/{{dest.p_code}}"><img style="height:200px;" src="{{dest.p_img.url}}" alt="That the chori image;if not see report!!"></a></div>

              {%else%}
              <div class = "dimag"  style="margin-top:40px;margin-left:20px;display: inline-block;"><a href="/chori/{{dest.p_code}}"><img style="height:200px;" src="{{dest.p_img.url}}" alt="That the chori image;if not see report!!"></a></div>

            {% endif %}
            {% endfor %}
          </div>
          <div class="destination_content">

          </div>
        </figure>
      </div>
    </div>
  </main>
</div>
</div>
<style>
  .dimag{
width:200px;
}
</style>
{% endblock %}